<div>
<p style="color: green"><%= notice %></p>
<h1><%= @restaurants.name %></h1>
<p><%= @restaurants.address %></p>
<p><%= @restaurants.phone_number %></p>
<p><%= @restaurants.category %></p>
</div>
